<nav class="navbar navbar-blank">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <img style="width: 25px; height: 25px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACjSURBVHhe7dqhDUJBEEXRLQZLDRhaoAv8d1iaoxZagMmKVWsnL4FzkqtGPjsDAAAAAOBvHIp0qaaPIj2raXdUfwYIZ4BwBghngHBrgJci3SsAAAAAAAAAoNNNkc7VtPtZUX8es8IZIJwBwhkgnAHCrQHeivSoAAAAAAAAAIBOV0U6VdPuZ0X9ecwKZ4BwBghngHAGCGeAcGsAAAAAAADgl43xBTC/BSrgVZSVAAAAAElFTkSuQmCC">
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag "michael-logo.svg", class: "logo", alt: "michaelx." %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" href="#">Skills</a></li>
        <li><a class="nav-link" href="#">Portfolio</a></li>
        <li><a class="nav-link" href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/Xu-Michael" target="_blank" class="nav-link">
            <svg transform="scale(0.6)" class="social-icon github">
              <path d="M16.9,0.4c-9,0-16.3,7.3-16.3,16.4c0,7.2,4.7,13.4,11.1,15.5c0.8,0.2,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8
          			c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4
          			c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4C8,11.1,7.4,9.4,8.3,7.2c0,0,1.4-0.4,4.5,1.7
          			c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.6c3.1-2.1,4.5-1.7,4.5-1.7c0.9,2.3,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4
          			c0,6.3-3.8,7.7-7.4,8.1c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,4,0,4.5c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5
          			C33.2,7.7,25.9,0.4,16.9,0.4z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link" data-toggle="modal" data-target=".wechat-modal">
            <svg transform="scale(0.6)" class="social-icon wechat">
              <path class="st0" d="M31.3,18c0-4.3-4.3-7.7-9.7-7.7s-9.7,3.5-9.7,7.7s4.3,7.8,9.7,7.8c0.9,0,1.7-0.1,2.5-0.3l5.2,2.2l-1.8-3.6
            		C29.8,22.7,31.3,20.5,31.3,18z"/>
            	<path class="st0" d="M11.9,0.6c-6.4,0-11.6,4.3-11.6,9.7c0,3.1,1.7,5.8,4.4,7.6l-1.5,3.1l4.2-1.8c0.9,0.3,1.8,0.6,2.8,0.7
            		C10.1,19.2,10,18.6,10,18c0-5.3,5.2-9.7,11.6-9.7c0.6,0,1.2,0,1.7,0.1C22.3,4,17.6,0.6,11.9,0.6z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/xia-michael-xu/" target="_blank" class="nav-link">
            <svg transform="scale(0.6)" class="social-icon linkedin">
              <path d="M32.1,18.7v11.5h-6.7V19.4c0-2.7-1-4.5-3.4-4.5c-1.8,0-2.9,1.2-3.4,2.4c-0.2,0.4-0.2,1-0.2,1.6v11.2h-6.7
            		c0,0,0.1-18.2,0-20.1h6.7v2.8c0,0,0,0,0,0.1h0v-0.1c0.9-1.4,2.5-3.3,6-3.3C28.9,9.6,32.1,12.5,32.1,18.7z M4.8,0.4
            		C2.5,0.4,1,1.9,1,3.9c0,1.9,1.5,3.5,3.7,3.5h0c2.3,0,3.8-1.5,3.8-3.5C8.5,1.9,7.1,0.4,4.8,0.4z M1.4,30.2h6.7V10.1H1.4V30.2z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade wechat-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <div class="modal-header" style="border-bottom: none">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title underline-heading">Happy to chat on Wechat!</h4>
        </div>
        <%= image_tag "michaelx-wxqr.jpeg", class: 'qr-code'%>
      </div>
    </div>
</div>
