.btn-wide {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 2px 3px rgba(0,0,0,.05);
  transition: all .2s cubic-bezier(.03,1.12,.64,.99);
  font-size: 16px;
  font-weight: 500;
}

.btn-primary:hover {
  background: $blue-highlight;
  border: $blue-highlight;
  transform: scale(1.02);
}

.btn-text {
  width: 200px;
  padding: 20px;
  transition: all .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-text:hover {
  box-shadow: 0 0 0 1px #e5e5e5;
}

.svg-play {
  width: 21px;
  height: 21px;
  margin-right: 12px;
}
