.cta-form {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.cta-form input {
  border: 1px solid #d3d9dc;
  width: 290px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  color: $dark-gray;
  font-weight: 500;
  height: 60px;
  margin-right: 10px;
}

.cta-form input:focus {
  border-color: #4f6df5;
  box-shadow: 0 0 0 1px #4f6df5;
}

.cta-form input::placeholder {
  color: $light-gray;
  font-weight: 500;
}
