.social-icon {
  color: $light-gray;
  height: 35px;
  max-width: 35px;
  margin-top: -6px;
  fill: $light-gray;
}

.github:hover {
  fill: black;
}

.wechat:hover {
  fill: #97d65d;
}

.linkedin:hover {
  fill: #2e76b0;
}
