.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.table-container {
  margin: 0 auto;
  padding: 50px 25px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.skill-table {
  border: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .table-container {
    padding: 50px 50px;
  }
  .skill-table {
    flex-direction: row;
  }
}

.skill-section {
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  text-align: center;
  .underline-heading {
    margin-bottom: 2.5rem;
  }
  .list-group {
    width: 80%;
  }
  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

.skill-section:last-child {
  border-bottom: none;
}

.section-img {
  width: 250px;
  height: auto;
}

@media (min-width: 900px) {
  .skill-section {
    border-bottom: none;
    flex-basis: 100%;
    padding: 25px 50px;
    position: relative;
  }

  .skill-section::after {
    content: '';
    position: absolute;
    top: 15%;
    right: 0%;
    height: 70%;
    border-right: 1px solid $light-gray;
  }

  .skill-section:last-child::after {
    border-right: none;
  }

  .section-img {
    width: 200px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .section-img {
    width: 350px;
  }
}
