
.bio-section {
  background: $dark-blue; /* fallback for old browsers */
  padding: 3rem 2rem;
  img {
    margin: 1.5rem auto;
  }
  h3, p, ul {
    color: white !important;
    margin: 1.5rem;
  }
}


.profile-pic {
  width: auto;
  height: 80%;
}

.labels > li {
  font-weight: 600;
  color: $blue;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 15px;
  border: 1px solid $blue;
  margin: 10px 5px;
}

.labels > li:first-child {
  margin-left: 0;
}

#main-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/white-bg.svg);
}

.dev-icon {
  width: 45px;
  height: auto;
  margin-right: 15px;
  margin-left: 15px;
}

#ruby-icon {
  padding-top: 5px;
}

@media (min-width: 1024px) {
  .bio-section {
    .row {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1024px) {
  #main-banner {
    background-image: url(/images/white-bg-sm.svg);
    background-position: center;
  }
}

@media (max-width: 450px) {
  .qr-code {
    width: 280px;
    height: auto;
  }
  .flex-container {
    h1 {
      font-size: 32px;
      text-align: center;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }
  .profile-pic {
    height: 50%;
  }
  #main-banner {
    background-position: top;
    background-image: url(/images/white-bg-mobile.svg);
  }
}
