// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #4f6df5;
$blue-highlight: #3797ff;
$dark-blue: #212529;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #535971;
$dark-gray: #090b17;
$white: #FFFFFF;
