---
title: MichaelX. · Full Stack Developer & Digital Marketer
---

<div class="container-fluid">
  <div class="flex-container align-center justify-center direction-v" id="main-banner" style="height: 60vh;">
    <h1>Delivering astounding results.</h1>
    <p style="margin-bottom: 50px;">I am a multi-disciplinary digital product marketer and full stack developer that can take your project to the next level.</p>
    <button type="button" class="btn btn-text">
      <svg class="svg-play" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10.5" cy="10.5" r="10.5" fill="#506df5"></circle>
        <path d="M13.78 9.9a.71.71 0 0 1 0 1.2l-4.4 3.3c-.44.33-.8.15-.8-.4V7c0-.55.36-.73.8-.4z" fill="#fff"></path>
      </svg>
      <span class="cta-blue">Get in touch</span>
    </button>
  </div>
</div>
<div class="container-fluid blue-section" style="height: 350px">
  <!-- <div class="flex-container justify-center align-center"> -->
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "michaelx-headshot.jpg", class: "img-circle profile-pic"%>
      </div>
      <div class="col-md-8">
        <h3>Skills to help your project</h3>
      </div>
    <!-- </div> -->
  </div>
</div>
