---
title: MichaelX. · Full Stack Developer & Digital Marketer
---

<div class="container-fluid">
  <div class="flex-container align-center justify-center direction-v" id="main-banner" style="height: 60vh;">
    <h1>Delivering astounding results.</h1>
    <p style="margin-bottom: 50px;">I am a multi-disciplinary digital product marketer and full stack developer that can take your product to the next level.</p>
    <button type="button" class="btn btn-text">
      <svg class="svg-play" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10.5" cy="10.5" r="10.5" fill="#506df5"></circle>
        <path d="M13.78 9.9a.71.71 0 0 1 0 1.2l-4.4 3.3c-.44.33-.8.15-.8-.4V7c0-.55.36-.73.8-.4z" fill="#fff"></path>
      </svg>
      <span class="cta-blue">Get in touch</span>
    </button>
  </div>
</div>
<div class="container-fluid blue-section">
  <!-- <div class="flex-container justify-center align-center"> -->
    <div class="row flex-container align-center" style="height: 100%">
      <div class="col-md-4">
        <%= image_tag "michaelx-headshot.jpg", class: "img-circle img-responsive profile-pic"%>
      </div>
      <div class="col-md-8">
        <h3 class="underline-heading">Hire a multi-faceted skillset</h3>
        <p>I am a full stack developer with a background in product design and marketing.
           I successfully fueled growth for a B2B FinTech product and lead a live streaming product from 0 to 25,000 users in 6 months.
           With my multi-disciplinary experience, I can not only help build your product from back-end to front-end but also help formulate growth strategies.</p>
        <ul class="list-inline labels">
          <li>Growth Marketing</li>
          <li>UI/UX Design</li>
          <li>Project Management</li>
          <li>Full Stack Web Development</li>
          <li>Mobile Game Development</li>
        </ul>
      </div>
    <!-- </div> -->
  </div>
</div>
